body {
    background-image: url('flight.jpg'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 20px;
    background-color: #000;
    opacity: 0.9;
    color: #fff;
    padding: 40px;
}

.top-20 {
    margin-top: 20px;
}

h5 {
    color: #999999;
}

section {
    margin-bottom: 50px;
}

.field {
    font-weight: bold;
    text-align: right;
}

.field-value {
    color: #0e7fa8;
}

label.form {
    font-size: 14px;
    margin-right: 20px;
}

table td, table th {
    border: 1px solid white;
}


#popup_buy_insurance_form {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 100px;
    margin-top: -100px;
    margin-left: -250px;
}

#airline_administration_container div {
    border: 1px solid white;
}

button {
    border: 1px solid #ffffff;
    border-radius: 6px;
    color:#ffffff;
    background-color: #000000;
    padding: 0.2em 0.5em;
}

button:hover {
    color:#000000;
    background-color: #ffffff;
    border: 1px solid #000000;
}